import os
from abc import ABC, abstractmethod
from agno.models.base import Model
from agno.agent import Agent
from agno.db.mongo import MongoDb

class BaseAgent(ABC):

    name: str
    model: Model
    
    def __init__(self):
        pass

    @abstractmethod
    def build(self, *args, **kwargs) -> Agent:
        pass

    def _get_db(self, session_collection: str) -> MongoDb:
        return MongoDb(
            db_url=os.getenv("MONGODB_URI", "mongodb://localhost:27017"),
            db_name=os.getenv("DB_NAME", "your_db_name"),
            session_collection=session_collection,
        )