
{% if include_mongodb %}
MONGODB_URI=mongodb://mongodb:27017
DB_ROOT_USER=your_user_name
DB_ROOT_PASS=testpassword
DB_PORT=27017
{% else %}
MONGODB_URI=mongodb://localhost:27017
{% endif %}
DB_NAME=your_db_name