# Created by https://www.gitignore.io/api/django
# Edit at https://www.gitignore.io/?templates=django


*.log
*.pot
*.pyc
secret.py
__pycache__/
env/
dist/
data/
build/*
external-data/
scripts/
.mypy_cache/
.env

### Celery ###
*.pid
*.code-workspace

*.mp4
package-lock.json
debug.log

redis-data/
storage/
.pytest_cache/
.agents/